



section h2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section h3 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.carousel-caption h5{
    font-size: 80px;
    color: white;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px 2px black;
}












